node_modules/
dist/
.env
.env.local
*.local
scripts/
src/
public/icons
popup.html
.eslintrc.cjs
INSTALL.md
manifest.json
options.html
popup.html
popup.js
options.js
package-lock.json
package.json
README.md
tailwind.config.js
tsconfig.json
tsconfig.node.json
vite.config.ts
postcss.config.js